@using Microsoft.AspNetCore.Components.Web
@using static Microsoft.AspNetCore.Components.Web.RenderMode

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Asterisk PBX Admin</title>
    <base href="/" />
    <link rel="stylesheet" href="css/dashboard.css" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>
<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="js/help.js"></script>
    <script src="lib/sip-0.21.2.min.js"></script>
    <script src="js/softphone.js"></script>
</body>
</html>
